html,
body {
    background: black;
    background: -webkit-linear-gradient(to right, #104e64, black);
    background: linear-gradient(to right, #305f74, black);
    height: 80%;
    min-width: 500px;
}

#citation {
    font-size: 2em;
    font-family: 'Satisfy', cursive;
    line-height: 1.3em;
    letter-spacing: 1px;
}

#citation:before {
    content: open-quote;
}

#citation:after {
    content: close-quote;
}

#auteur {
    font-size: 1.5em;
    font-style: italic;
}

#nouveau {
    background: greenyellow;
    background: -webkit-linear-gradient(to right, #5dd838, green);
    background: linear-gradient(to right, #5dd838, green);
    cursor: pointer;
}